# Environment Variables
.env
.env.*

# Virtual Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# LangSmith / Local Databases
*.db
*.sqlite
*.sqlite3